<div id="div_common_message" class="float_right margin_bottom_vsmall">
    <img id="img_common_success" class="" src="/Content/Icons/success.png" style="height:18px;" />
    <img id="img_common_warning" class="" src="/Content/Icons/warning.png" style="height:18px;" />
    <span id="lbl_common_message" class="bold"></span>
</div>


